<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emcash.customerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:label="@string/app_name"
        android:theme="@style/Theme.Emcash"
        tools:replace="android:theme">
        <activity android:name=".ui.wallet.WalletActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmcashWhiteStatusBar" />
        <activity
            android:name=".ui.prepare.PrepareEmCashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmcashBlueStatusBar" />
        <activity
            android:name=".ui.terms.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmcashWhiteStatusBar" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Emcash" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>